# ==========================================
# Global
# ==========================================
.DS_Store
.idea/
*.iml
*.iws
*.ipr
.vscode/
HELP.md

# ==========================================
# Host Service
# ==========================================
host-service/target/
host-service/logs/
host-service/*.log
host-service/.mvn/wrapper/maven-wrapper.jar
host-service/host-service.exe

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ==========================================
# Device Firmware
# ==========================================
device-firmware/.pio/
device-firmware/libdeps/